﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="ServiceDeskFeedbackConfirmation.Default" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div style="position: fixed; left: 20%; top: 20%; border: 7px solid #f18d03; width: 700px;">
            <a href="www.Hatteland.com" style="position: absolute; top: -7px; right: 2%">
                <img style="width: 130px" align="right" src="Images/hatteland-logo.gif" /></a>
            <br />
            <br />
            <br />
            <a href="www.rambase.net">
                <img style="width: 300px; align-content: center; position: relative; left: 30%;" align="center" src="Images/rambase.jpg" /></a>
            <br /><br />
            <div style="position: absolute; left: 30%;">
                <span>
                    <p style="color: #f18d03; font-family: monospace; font-size: x-large; font-weight: bold;">Thank you! </p>
                    <p style="color: #f18d03; font-family: monospace; font-size: larger;">Your feedback is highly appreciated </p>
                </span>
            </div>
            <br /><br />
            <img style="width:300px; vertical-align: bottom" src="Images/web04.png" />
        </div>


    </form>
</body>
</html>
